{% load coursetags %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/css/courses.css' %}" />

<script src="https://code.angularjs.org/1.4.8/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-resource.min.js"></script>
<script src="https://code.angularjs.org/1.4.8/angular-animate.min.js"></script>

<script src="{% static 'courses/js/services.js' %}"></script>
<script src="{% static 'courses/js/course_widget.js' %}"></script>

{% verbatim %}
<div class="alert course-widget" 
    ng-app="coursesApp" ng-controller="CoursesController">
    <legend>Meld deg opp i kurs</legend>
    <div class="row">
        <select name="selectCourse" class="form-control" 
            ng-model="selectedCourse" ng-options="course.name for course in courses">
        </select>
    </div>
    <div class="row course-management-container">
        <course-management></course-management>
    </div>
    <div class="row">
        <registration-list ng-show="registrations.length>0" class="animate-show"></registration-list>
    </div>
    
</div>

{% endverbatim %}
