{% load coursetags %}
<div class="well well-sm course row col-md-12">
    <h4 class="text-primary course-name">{{course.name}}</h4>
    <p class="course-desc" style="display:none">{{course.desc}}</p>
    <p class="course-taken" style="display:none">{{course|registered_kids}}</p>
    <p class="course-limit" style="display:none">{{course.registration_limit}}</p>
    <p class="course-id" style="display:none">{{course.id}}</p>
    <p class="course-url" style="display:none">{% url "course_register" %}</p>
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-info"></div>
    </div>
    {% if user.is_authenticated %}
        {% if course.signed_up %}
        <button type="button" class="course-sign-off btn btn-warning">Meld meg av</button>
        {% else %}
            <button type="button" class="col-md-4 col-sm-4 course-sign-up-master btn btn-default btn-sm">Bli veileder</button>
            <button type="button" class="col-md-4 col-sm-4 course-sign-up-reserve btn btn-primary btn-sm">Bli reserverveileder</button>
            <button type="button" class="col-md-4 col-sm-4 course-sign-up-kid btn btn-success btn-sm">Bli kursdeltager</button>
        {% endif %}
    {% else %}
        <p class="course-msg">Du må logge inn for å melde deg opp.</p>
    {% endif %}
</div>
