{% extends "base.html" %}
{% load bootstrap %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" aria-expanded="true" href="#submission_form">Last opp besvarelse</a></li>
            <li class=""><a data-toggle="tab" aria-expanded="true" href="#submissions">Mine besvarelser</a></li>
        </ul>
        <div class="tab-content">
        <div class="tab-pane active" id="submission_form">
            <h2>{{task.title}}</h2>
            <div class="well">
                <p>{{task.desc}}</p>
                <p>Poeng: {{task.points_reward}}</p>
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form | bootstrap}}
                    <input type="submit" class="btn btn-success" value="Send inn"/>
                </form>
            </div>
        </div>
        <div class="tab-pane" id="submissions">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Godkjent/Ikke godkjent</td>
                    <td>Innhold</td>
                </tr>
            </thead>
            <tbody>
            {% for submission in subs %}
            <tr>
                {%if submission.valid %}
                <td>Godkjent</td>
                {% else %}
                <td>Ikke godkjent</td>
                {% endif %}
                <td><a href="{{submission.content_file.url}}">{{submission.content_filename}}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}
