{% extends "base.html" %}
{% load bootstrap %}
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" aria-expanded="true" href="#submission_form">Last opp besvarelse</a></li>
            <li class=""><a data-toggle="tab" aria-expanded="true" href="#submissions">Mine besvarelser</a></li>
        </ul>
        <div class="tab-content">
            <div class="col-md-6 tab-pane {% if valid_subs %}alert alert-success{% endif %} active" id="submission_form">
                <h2>{{task.title}}</h2>
                <p>{{task.desc|safe}}</p>
                <p>Poeng: {{task.points_reward}}</p>
                {% if valid_subs %}
                <p>Du har klart denne oppgaven!</p>
                {% else %}
                <form class="form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form | bootstrap}}
                    <input type="submit" class="btn btn-success" value="Send inn"/>
                </form>
                {% endif %}
            </div>
            <div class="col-md-6 tab-pane" id="submissions">
                {% include "courses/submission_table.html"%}
            </div>
        </div>
</div>
{% endblock %}
