{% load staticfiles %}
<html>
<head>
<title>Kodeklubben Trondheim</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static "frontpage/css/kodeklubb.css" %}" rel="stylesheet">
{% block links %}
{% endblock %}
</head>
<body class="kodeklubb">
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
