{% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}
{% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="well bs-component col-sm-12 col-md-6 col-md-offset-3">
          <form class="form-horizontal" method="post" action="{{action}}">
            <fieldset>
            {% csrf_token %}
            {{ form | as_bootstrap_horizontal}}
            <div class="form-actions">
              <button type="submit" class="btn btn-primary col-md-12">Ferdig</button>
            </div>
            </fieldset>
          </form>
        </div>
    </div>
</div>
{% endblock %}
