<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if header %}
            <a class="navbar-brand" href="{% url "home" %}">{{header}}</a>
            {% else %}
                <a class="navbar-brand" href="{% url "home" %}">Kodeklubben Trondheim</a>
            {% endif %}
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url "log_out" %}">Logg ut</a></li>
            {% else %}
            <li><a href="{% url "register" %}">Registrer deg</a></li>
            <li><a href="{% url "log_in" %}">Logg inn</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

