{% load staticfiles %}
<nav id="header" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="" href="{% url "home" %}"><img src="{% static "frontpage/img/logo.png" %}"/></a>
        </div>
        {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-left">
            {% if user.first_name and user.last_name %}
            <li><a href="{% url "edit_user" %}">Velkommen til Kodeklubben Trondheim, <b>{{user.first_name}} "{{user.username}}" {{user.last_name}}</b>.</a></li>
            {% else %}
            <li><a href="{% url "edit_user" %}">Velkommen til Kodeklubben Trondheim, <b>{{user.username}}</b>.</a></li>
            <li><a href="{% url "edit_user" %}" >Vi trenger navnet ditt, trykk her.</a></li>
            {% endif %}
        </ul>
        {% endif %}
        {% if user.is_authenticated %}
        <form class="navbar-form navbar-right" method="post" action="{% url "logout" %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Logg ut</button>
        </form>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "register" %}">Registrer deg</a></li>
            <li><a href="{% url "login" %}">Logg inn</a></li>
            <li><a href="{% url "password_reset" %}">Glemt passord?</a></li>
        </ul>
        {% endif %}
    </div>
</nav>
