{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
                <h2 class="text-primary">Logg inn</h2>
                <div class="well">
                    {% if not user.is_authenticated %}
                        {% include "login_form.html" %}
                    {% else %}
                        <p>Du er allerede logget inn.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
