{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-primary">Opprett bruker</h2>
            <div class="well">
                    {% if not user.is_authenticated %}
                        {% include "register_form.html" %}
                    {% else %}
                    <p>Du har allerede en bruker.</p>
                    {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
