<div class="row">
	<div class="col-md-6">
		<h2>Registrer ny bruker</h2>
		<form novalidate class="css-form">
			<input class="form-control" type="text" 
				ng-model="user.username" placeholder="Username" required /><br/>
			<input class="form-control" type="email" 
				ng-model="user.email" placeholder="E-Mail" required /><br/>
			<input class="form-control" type="password" 
				ng-model="user.password" placeholder="Password" required /><br/>
			<button class="btn btn-primary" ng-click="reset()">Tøm feltene</button>
			<button class="btn btn-primary" ng-click="update(user)">Registrer</button>
		</form>
	</div>
</div>
