<form class="form-horizontal well" ng-controller="UserController as userCtrl" ng-submit="userCtrl.login(credentials)">
    <div class="form-group">
        <label for="email" class="control-label col-lg-2">Email</label>
        <div class="col-lg-12">
            <input class="form-control" id="email" type="text" value="" ng-model="userCtrl.credentials.email">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="control-label col-lg-2">Password</label>
        <div class="col-lg-12">
            <input class="form-control" id="password" type="password" value="" ng-model="userCtrl.credentials.password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12">
            <input class="btn btn-primary" id="submit" type="submit" value="Login" >
        </div>
    </div>

</form>
