body.kodeklubb
{
    padding-bottom:70px;
}

#header {
    background-color:black;
}

#header img {
    height:50px;
}

#footer {
    position:fixed;
    bottom:0px;
    right:0px;
}

img {
    width:100%;
    height:auto;
}
