body.kodeklubb
{
    padding-bottom:70px;
}

#header {
    background-color:black;
}

#header img {
    height:50px;
}

#footer {
    position:fixed;
    bottom:0;
    right:0;
}

img {
    width:100%;
    height:auto;
}

.course, .course-name {
    transition:all 0.2s;
}

.course.active {
    cursor:pointer;
    border-color:#aaa;
}
