{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                {% for newsitem in newsitems %}
                <div class="">
                    <h2>{{newsitem.title}}</h2>
                    <p>{{newsitem.intro}}</p>
                    <p>{{newsitem.body|safe}}</p>
                    <hr>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            {% include "courses/course_widget.html" %}
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "courses/js/single_course.js" %}"></script>
{% endblock %}
